.moduleWrapper {
  :global {
    .btnmore {
      transition: all linear 0.5s;
      & > span {
        transition: all linear 0.5s;
      }
      &:hover {
        opacity: 0.8;
      }
      &:hover > span {
        padding-left: 8px;
      }
    }
  }
}
