@layer base {
  @font-face {
    font-family: 'PP Right Grotesk';
    src: url('../../assets/fonts/PPRightGrotesk-Light.otf') format('opentype');
    font-style: normal;
    font-stretch: normal;
    font-named-instance: 'Light';
    font-weight: 300;
    font-variation-settings: 'slnt' 0, 'wdth' 100, 'wght' 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'PP Right Grotesk';
    src: url('../../assets/fonts/PPRightGrotesk-Medium.otf') format('opentype');
    font-style: normal;
    font-stretch: normal;
    font-named-instance: 'Medium';
    font-weight: 400;
    font-variation-settings: 'slnt' 0, 'wdth' 100, 'wght' 400;
    font-display: swap;
  }
}
