.custom-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Hide scrollbar on WebKit browsers */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  @apply text-white;
}

::selection {
  @apply text-icon;
  //background: yellow;
}

.hiddenScrollOnMobile {
  overflow: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.hiddenScrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.miniScrollbar::-webkit-scrollbar {
  width: 2px;
  background: #a1b2c3;
}

/* Handle */
.miniScrollbar::-webkit-scrollbar-thumb {
  background: #ecf0f3;
}

.miniScrollbarDark::-webkit-scrollbar {
  width: 2px;
  background: #a1b2c3;
}

/* Handle */
.miniScrollbarDark::-webkit-scrollbar-thumb {
  background: #1d252d;
}

.mobileScrollInsideContainer {
  @media screen and (max-width: 768px) {
    //margin-left: -32px;
    //padding-left: 32px;
    //width: calc(100% + 64px);
    //padding-right: 32px;

    > div {
      padding-right: 32px;
    }

    padding-left: 32px;
    width: calc(100% + 64px);
    padding-right: 32px;
    transform: translateX(-32px);
    z-index: 1;
  }
}
